.header > div,
.row-of-pics {
    padding: 0px 80px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header-content {
    display: flex;
    justify-content: space-around;
}

.information {
    text-align: center;
}

.row-of-pics {
    display: flex;
    justify-content: center;
}

.pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.row-img {
    width: 200px;
}

.quote {
    text-align: justify;
    padding: 160px;
}

.quote-signature {
   text-align: right;
}